html{
  background-color: rgb(220,220,220);
}
*{
  margin: 0 !important;
  padding: 0 !important;
}
#dateTime{
  position: absolute;
  width:100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 150%;
}
#date{
  position: absolute;
  top:0.3em;
  left:1em;
}
#time{
  position: absolute;
  right:1em;
  top:0.3em;
}

#submissionTable{
  top: 10%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
  width:22%;
}
#submissionTable td{
  border:solid;
  border-width: thin;
  padding:5px !important;
}
#infoIcon{
  position:relative;
  left:-3%;
  width:18%;
}

#databaseTable{
  right:1%;
  top: 10%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
  box-sizing:border-box;
}
#databaseTable td{
  border:solid;
  border-width: thin;
  padding:5px !important;
}

#buildingsTable{
  left:23%;
  top: 10%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
  box-sizing:border-box;
}
#buildingsTable td{
  border:solid;
  border-width: thin;
  padding:5px !important;
}

#creationTable{
  top: 53%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
  width:22%;
}
#creationTable td{
  border:solid;
  border-width: thin;
  padding:5px !important;
}
#buildingUniqueID{
  position: relative;
  left:0%;
  top:25%;
}
