/* container that holds the draggable item, this ensures that even if the user is exactly on the item they
want it will still move and you wont get the jump and stop effect
 */
#container {
  width: 100%;
  height: 400px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}
/* the item that we are dragging around, smaller than the container , obviously
 */
#item {
  width: 100px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}

/* changes colouts and backgrounds etc based on user interaction
 */
#item:active {
  background-color: rgba(168, 218, 220, 1.00);
}
#item:hover {
  cursor: pointer;
  border-width: 20px;
}
canvas{
  background-color: #333;
  border-radius: 7px;
}
