html{
  background-color: #35454E;
  font-family: "Work Sans", Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
#header1{
  color:white;
  text-align: center;
  font-weight: 300;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}
li,a,p{
    color:white;
}
a{
  text-decoration: underline;
}
a:visited{
  color:white;
  text-decoration: none;
}

#exampleFilesPic{
  display: block;
  width:40%;
  height:40%;
  margin: auto;
}
code{
  font-size: 1.5em;
  font-weight: bolder;
}
.innerList{
  list-style: none;
  margin-top: 1%;
  margin-bottom: 1%;
}
.important{
  font-size: 1.25em;
  font-weight: bolder;
}
