html{
  background-color: rgb(220,220,220);
}

#dateTime{
  width:100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 150%;
}

#date{
  margin: 0;
  position: absolute;
  width: auto;
}
#time{
  margin:0;
  position: absolute;
  right:1em;
  width:auto;
}
#submissionTable{
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
}
#submissionTable td{
  border:solid;
  border-width: thin;
  padding:5px;
}


#databaseTable{
  right:1%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
  box-sizing:border-box;
}
#databaseTable td{
  border:solid;
  border-width: thin;
  padding:5px;
}
