
<template id="palindromeTemplateSrc">
  <body>
    <div id="palindrome-container">
      <h1 id="titleText">Palindrome Calculator</h1>
      <h3 id="summaryText">
        Welcome to my palindrome calculator.
        This is just a simple application to test if a given string is a palindrome.
        It was created so I could familarise myself with using grid layouts ,templates and importing </h3>
      <div id="inputWrapper">
        <button id="submitButton">Submit</button>
        <input id="inputBox"></input>
      </div>
      <div id="resultsWrapper">
        <h2 id="resultText"></h2>
        <h2 id="reversedText"></h2>
      </div>
    </div>
    <style>
      * {
        padding: 0;
        margin: 0;
        font-family: "Trebuchet MS", Times, serif;
        box-sizing:border-box;
      }

      :host {
        display: block;
      }

      #palindrome-container {
        display: grid;
        grid-gap: 1%;
        padding: 1%;
        background-color: #2196F3;
        grid-template-columns: 40% 59%;
        grid-template-rows: 60% 40%;
        height: 100%;
      }
      #inputWrapper{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
      }
      #resultsWrapper{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
      }
      #submitButton {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        margin: auto;
      }

      #inputBox {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }

      #titleText {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        margin: 0 auto;
      }

      #resultText {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }

      #reversedText {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
      }


      #summaryText {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
      }
    </style>
    <script>
      'use strict'
      let container = document.getElementById("palindrome-container")
      let title = document.getElementById("titleText")
      let summary = document.getElementById("summaryText")
      let submitButton = document.getElementById("submitButton")
      let inputBox = document.getElementById("inputBox")
      let result = document.getElementById("resultText")
      let reversedOutput = document.getElementById("reversedText")


      window.onresize = function() {
        let wrapper = document.getElementById("palindrome")
    //    container.style.height = wrapper.offsetHeight
        wrapper.style.height = wrapper.offsetHeight
        resizeText(container, summary, 0.04)
        resizeText(container, title, 0.06)
        resizeText(container, reversedOutput, 0.04)
        resizeText(container, result, 0.04)

        inputBox.style.height = container.offsetHeight * 0.1
        inputBox.style.width = container.offsetWidth * 0.4

        submitButton.style.height = container.offsetHeight * 0.1
        submitButton.style.width = container.offsetWidth * 0.2
        resizeText(container, submitButton, 0.04)

        resizeText(container, inputBox, 0.04)
      }
      let input = ''
      submitButton.addEventListener('click', function() {
        input = inputBox.value
        calculate(input)
      })

      inputBox.addEventListener("keyup", function(event) {
        event.preventDefault()
        if (event.keyCode === 13) {
          submitButton.click()
        }
      })

      function calculate(input) {
        let reversed = ""
        for (let i = input.length - 1; i >= 0; i--) {
          reversed += input[i]
        }
        reversed = reversed.toLowerCase()
        input = input.toLowerCase()
        if (reversed === input) {
          result.innerHTML = input + " is a Palindrome!"
        } else {
          result.innerHTML = input + " is not a Palindrome!"
        }
        reversedOutput.innerHTML = "Reversed = " + reversed
      }
      function resizeText(parent, element, scale) {
        element.style.fontSize = ((parent.offsetWidth+parent.offsetHeight)/2)*scale
        return element
      }
    </script>
  </body>
</template>

<script>
  const getImport = document.querySelector('#palindromeTemplate');
  const getContent = getImport.import.querySelector('#palindromeTemplateSrc')
  document.body.appendChild(document.importNode(getContent, true));
  const cloned = getContent.content.cloneNode(true);
  document.getElementById("palindrome").appendChild(cloned);

  let wrapper = document.getElementById("palindrome")
  container.style.height = wrapper.offsetHeight
  wrapper.style.height = wrapper.offsetHeight
  console.log(wrapper.style.height)
  console.log(container.offsetHeight)
  console.log(wrapper.offsetHeight)
  resizeText(container, summary, 0.04)
  resizeText(container, title, 0.06)
  resizeText(container, reversedOutput, 0.04)
  resizeText(container, result, 0.04)

  inputBox.style.height = container.offsetHeight * 0.1
  inputBox.style.width = container.offsetWidth * 0.4

  submitButton.style.height = container.offsetHeight * 0.1
  submitButton.style.width = container.offsetWidth * 0.2
  resizeText(container, submitButton, 0.04)

  resizeText(container, inputBox, 0.04)
</script>
