#selection{
  position: absolute;
  top:5vh;
  left:13vw;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 200%;
}
#selection select{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 100%;
  width:28.4vw;
  margin-left: 4vw;
}
#upgrades{
  position: absolute;
  top:50vh;
  left:12.5vw;
}
.upgrades{
  width:8vw;
  height:7vh;
  border:solid;
}
#ship{
  position: absolute;
  left: 55vw;
  top:35vh;
  width:45vw;
  height:65vh;
}
#tutorial{
  border:solid;
  padding:0.8%;
  position: absolute;
  top:5vh;
  left:60vw;
  width:35vw;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 120%;
}
