#PostCode{
  position: absolute;
  top:5vh;
  left:10vw;
  width:80vw;
  height:10vh;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 200%;
}
#locationPin{
  position: absolute;
  top:5vh;
  left:90vw;
  width:10vw;
  height:10vh;
}
#caches{
  position: absolute;
  top:20vh;
  left:10vw;
  width:40vw;
  height:10vh;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 200%;
}
#map{
  position: absolute;
  top:20vh;
  left:50vw;
  width:45vw;
  height:75vh;
}
#tutorial{
  border:solid;
  padding:1%;
  position: absolute;
  top:70vh;
  left:10vw;
  width:30vw;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 120%;
}
