html{
  background-color: rgb(220,220,220);
}
*{
  margin:0
  padding:0
  box-sizing:border-box;
}
body{
  overflow: hidden;
}
#mainContent{
  width:75%;
  height:70%;
  left:0%;
  top: 5%;
  position: absolute;
  margin: 0;
  border-bottom: solid;
  border-top: solid;
  background-color: rgb(255,200,200);
}
#locationData{
  width: 75%;
  height:25%;
  left:0%;
  position: absolute;
  top: 75%;
  border-top:solid;
  background-color: rgb(200,200,255);
}
#currentLocation,#weatherData,#buildingData{
  position: relative;
  text-align:left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 150%;
  margin:0;
}
#gameData{
  top: 5%;
  left:75%;
  position: absolute;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 150%;
  width:25%;
  height:95%;
  border-top:solid;
  border-left:solid;
  background-color: rgb(200,255,200);
}
#gameList{
  top:0em;
  position: absolute;
}
#gameList -> li{
    text-align: left;
}

#dateTime{
  position: absolute;
  width:100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 150%;
}

#date{
  margin: 0;
  position: absolute;
  width: auto;
}
#time{
  margin:0;
  position: absolute;
  right:1em;
  width:auto;
}
#connection{
  position: absolute;
  right:40%;
  top:1%;
  margin: 0;
}

#messages{
  position: absolute;
  list-style: none;
  left:0%;
  padding: 0;
}
#messages li{
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 150%;
  margin:0;
  text-align: left;
}

#currentMessage{
  font-size: 300% !important;
  text-align: center !important;
}
