html{
  background-color: rgb(220,220,220);
}

#dateTime{
  position: absolute;
  top:1%;
  width:100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 150%;
}

#date{
  margin: 0;
  position: absolute;
  width: auto;
}
#time{
  margin:0;
  position: absolute;
  right:1em;
  width:auto;
}
#submissionTable{
  top: 10%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
}
#submissionTable td{
  border:solid;
  border-width: thin;
  padding:5px;
}


#databaseTable{
  right:1%;
  top: 10%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
  box-sizing:border-box;
}
#databaseTable td{
  border:solid;
  border-width: thin;
  padding:5px;
}
#gameSub{
  background-color: rgb(200,255,200);
}
#buildingIDSub{
  background-color: rgb(200,200,255);
}
#mainSub{
  background-color: rgb(255,200,200);
}

#messagesTable{
  left:1%;
  top: 50%;
  position: absolute;
  border-collapse: collapse;
  border:solid;
  border-width: thin;
  box-sizing:border-box;
  table-layout:fixed;
  width:80%;
}
#messagesTable td{
  border:solid;
  border-width: thin;
  padding:5px;
  word-wrap: break-word
}
#messageID{
  width:10%;
}
#messageActions{
  width:20%;
}
#uniqueID{
  width:10%;
}
#databaseID{
  position: absolute;
  right:10%;
  top:-3%;
}
