a{
  display: table;
  
border-bottom: 1px solid rgba(255, 255, 255, 1);
}
iframe{
  border:1;
  border-style: solid;
}
body{
  background-color: #333333;
  color:white;
}
#databaseList{
  float: right;
}
table, th, tr ,td{
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
  height:auto;
}
.Tableheader{
  font-weight: bold;
  text-align: center;
}
#purgeButton{
  float:left;
}
#deleteForm{
  width:100%;
  margin:inherit;
}
#deleteButton{
  width:100%;
}
#loginButton,#logoutButton,#registerButton{
  float:right;
  margin-left: 30px;
  color: rgba(255, 255, 255, 1);
}
