*{
  padding: 0;
  margin: 0;
}
html{
  background-color: #35454E;
  font-family: "Work Sans", Arial, sans-serif;
}


nav{
  text-align: center;
}
nav a{
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 1%;
}
#header1{
  color:white;
  text-align: center;
  font-weight: 300;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}
#palindrome{
  grid-column-start: 1;
  grid-column-end: 1;
}
#projects-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height:90%;
}
